<h1>Search Games</h1>

<form action="{% url 'results' %}" method="post">
    {% csrf_token %}
    {{ form }}
<!--     <label name="Title" for='game_title'>*Title: </label>
    <input type='text' name='game_title'/>
    <label name="Title" for='game_platform'>Platform: </label>
    <input type='text' name='game_platform' value='dropdown goes here'/>
    <label name="Title" for='game_genre'>Genre: </label>
    <input type='text' name='game_genre' value='dropdown goes here'/> -->
    <input type='submit' value='Search'/>
</form>

<h1>API</h1>
<p>To search API, provide key value pairs to <a href={% url 'api' %}>/api</a></br>
/api?name=&lt;name&gt;&game_id=&lt;game_id&gt;</br>
example: <a href='/api?name=zelda'>/api?name=zelda</a><br>
One key is required but not both.
</p>